*.js linguist-detectable=false
*.php linguist-detectable=false
*.rb linguist-detectable=false
*.go linguist-detectable=false
*.cs linguist-detectable=false
Gemfile linguist-detectable=false
Gemfile.lock linguist-detectable=false
Makefile linguist-detectable=false
